---
layout: basic
---
{% if page.meta %}
  {% include headers/{{ site.data.design.headers.nouvelles }}.html meta=page.meta %}
{% endif %}


{% if page.collection %}
   {% if page.collection=="nouvelles"%}
     {% for nouvelle in site.nouvelles %}
        {% include categories/nouvelle.html page=nouvelle bref=page.bref %}
     {% endfor %}
   {% endif %}
{% endif %}

{% if page.heterogene %}
   {% for section in page.heterogene%}
     {% include pas_encore.html message="stack aux sections hétérogènes."%}
   {% endfor %}
{% endif %}
